doctype html
html
    head
        meta(charset='utf-8')
        meta(content='音乐', http-equiv='keywords')
        meta(name='description', content='音乐,wangid')
        meta(name='viewport', content='width=device-width,user-scalable=no, initial-scale=1')
        title 音乐人生
        link(rel='stylesheet', href='./stylesheets/index.css', type='text/css')
        script(type='text/javascript', src='./javascripts/jquery-1.11.0.min.js')
        script(type='text/javascript', src='./javascripts/jquery.SuperSlide.2.1.1.js')
        script(type='text/javascript', src='./javascripts/public.js')
        // 菜单js等
    body
        // 头部
        .top_nav
            .wid_main
                ul.fix
                    li.cur
                        a(href='/home') 网站首页
                    li
                        a(href='/live') 音乐live
                        dl
                            dd
                                a(href='/live') live公告
                            dd
                                a(href='#') live现场
                    li
                        a(href='#') 歌手简介
                        dl
                            dd
                                a(href='#') 歌手写真
                            dd
                                a(href='#') 歌手专辑
                    li
                        a(href='/video') 音乐视频
                        dl
                            dd
                                a(href='/video') 综艺音乐
                            dd
                                a(href='#') 音乐MV
                    li
                        a(href='#') 最新动态
                        dl
                            dd
                                a(href='#') 歌手动态
                            dd
                                a(href='#') 圈内动态
                    li
                        a(href='/daily') 每日推荐
                    li
                        a(href='#') 新歌速递
                    li
                        a(href='#') 歌单推荐
                    li
                        a(href='/about') 关于小圈
                        dl
                            dd
                                a(href='/about') 小圈简介
                            dd
                                a(href='#') 小圈守则
                            dd
                                a(href='#') 小圈风格
                            dd
                                a(href='#') 小圈功能
                .nav_bg_cur
                    img(src='./img/icon_nav.png')
        .bannerbox
            // banner
            .banner
                .bd
                    ul
                        li
                            a(href='#')
                                img(src='img/banner1.jpg')
                        li
                            a(href='#')
                                img(src='img/banner2.jpg')
                        li
                            a(href='#')
                                img(src='img/banner3.jpg')
                // 下面是前/后按钮代码，如果不需要删除即可
                a.prev(href='javascript:void(0)')
                    img(src='./img/jt_left.png')
                a.next(href='javascript:void(0)')
                    img(src='./img/jt_right.png')
            script(type='text/javascript').
                jQuery(".banner").slide({mainCell:".bd ul",autoPlay:true,interTime:3000,effect:"fold",delayTime:1000,mouseOverStop:false,});
            // banner end
            // 内容框
            .contentbox
                //
                .xhgg_box
                    .xhgg
                        h2 歌曲推荐：
                        .scrolltxt
                            ul
                                li
                                    a(href='#') 女声翻唱赵雷《理想》，唱出年轻人对理想的执着
                                    span 2019-01-10
                                li
                                    a(href='#') 梦想的声音，林俊杰版的《小情歌》轻快的节奏充满青春的气息
                                    span 2019-01-10
                                li
                                    a(href='#') 刘惜君《不过是爱情》，轻快的曲风，动听的承诺，洋溢浪漫的校园爱情
                                    span 2019-01-10
                                li
                                    a(href='#') 张智霖《天梯live》,超磁性的声音，另一番的别样深情
                                    span 2019-01-10
                                li
                                    a(href='#') one direction 小破团的曲风活力四射，充满激情
                                    span 2019-01-10
                                li
                                    a(href='#') 陈奕迅沙哑的声音给了你对于《约定》的美好想象
                                    span 2019-01-10
                        script(type='text/javascript').
                            $(function(){
                                //滚动文字
                                function runtxt(){
                                    $(".scrolltxt ul").animate({marginTop:-46},700,
                                        function(){
                                            $(".scrolltxt ul li:last").after($(".scrolltxt ul li:first"))
                                            $(".scrolltxt ul").css("margin-top",0)
                                        }
                                    )
                                }
                                $(".scrolltxt ul li").mouseenter(
                                    function(){
                                        clearInterval(timer)
                                    }
                                )
                                $(".scrolltxt ul li").mouseleave(
                                    function(){
                                        timer=setInterval(runtxt,1000)
                                    }
                                )
                                timer=setInterval(runtxt,1000)
                            })
                    // live公告
                    .bsggbox.fix
                        .bsgg
                            .index_title
                                h2
                                    i
                                    | 音乐live
                                a(href='/video') 更多>>
                            .box.fix
                                // live图片
                                .bshx_pic
                                    .bd
                                        ul
                                            li
                                                a(href='#')
                                                    img(src='./img/pic01.jpg')
                                                    h2
                                                        p 林俊杰行走的CD2019浙江卫视跨年演唱会live
                                                        span 2018-12-31
                                            li
                                                a(href='#')
                                                    img(src='./img/pic02.jpg')
                                                    h2
                                                        p 陈奕迅2019倾城香港演唱会
                                                        span 2019-02-29
                                            li
                                                a(href='#')
                                                    img(src='./img/pic03.jpg')
                                                    h2
                                                        p 周杰伦2019地表最强南昌演唱会
                                                        span 2019-03-29
                                    // 下面是前/后按钮代码，如果不需要删除即可
                                    a.prev(href='javascript:void(0)')
                                    a.next(href='javascript:void(0)')
                                script(type='text/javascript').
                                    jQuery(".bshx_pic").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true});
                                // live公告栏
                                .bsgg_txt
                                    // 显示最新七条
                                    ul
                                       each infos in info
                                         li
                                            a(href='#') #{infos.a}
                                            span #{infos.span}

                        .kjrk
                            .index_title
                                h2
                                    i
                                    | 快捷入口
                            ul
                                li
                                    a.login_user
                                        img(src='./img/icon_01_dl.png')
                                        | 音乐会员
                                li
                                    a(href='#')
                                        img(src='./img/icon_01_dl.png')
                                        | live直播
                    // live公告 end

                    // 小圈简介
                    .aboutbox
                        .wid_main
                            #rank.main
                                .main-inner
                                    ul.rank-list
                                        li.rank-list__item.rank-list__1
                                            span.rank-bg
                                            span.mask
                                            i.icon-play
                                            .title
                                                i
                                                h3 流行指数
                                            i.line
                                            ul.song-list
                                                li.song-list__item
                                                    a(href='#')
                                                        span 1
                                                        | 燕窝
                                                    span 吴青峰
                                                li.song-list__item
                                                    a(href='#')
                                                        span 2
                                                        | 一万次悲伤
                                                    span 逃跑计划
                                                li.song-list__item
                                                    a(href='#')
                                                        span 3
                                                        | Beautiful Mess
                                                    span Kristion
                                                li.song-list__item
                                                    a(href='#')
                                                        span 4
                                                        | 鼓楼
                                                    span 赵雷
                                        li.rank-list__item.rank-list__2
                                            span.rank-bg
                                            span.mask
                                            i.icon-play
                                            .title
                                                i
                                                h3 热歌
                                            i.line
                                            ul.song-list
                                                li.song-list__item
                                                    a(href='#')
                                                        span 1
                                                        | 关键词
                                                    span 林俊杰
                                                li.song-list__item
                                                    a(href='#')
                                                        span 2
                                                        | 知否知否
                                                    span 胡夏
                                                li.song-list__item
                                                    a(href='#')
                                                        span 3
                                                        | 光年之外
                                                    span 邓紫棋
                                                li.song-list__item
                                                    a(href='#')
                                                        span 4
                                                        | 告白气球
                                                    span 周杰伦
                                        li.rank-list__item.rank-list__3
                                            span.rank-bg
                                            span.mask
                                            i.icon-play
                                            .title
                                                i
                                                h3 新歌
                                            i.line
                                            ul.song-list
                                                li.song-list__item
                                                    a(href='#')
                                                        span 1
                                                        | 知否知否
                                                    span 胡夏
                                                li.song-list__item
                                                    a(href='#')
                                                        span 2
                                                        | 生僻字
                                                    span 陈柯宇
                                                li.song-list__item
                                                    a(href='#')
                                                        span 3
                                                        | 黑白键
                                                    span 何洁
                                                li.song-list__item
                                                    a(href='#')
                                                        span 4
                                                        | 下完这场雨
                                                    span 后弦
                                        li.rank-list__item.rank-list__4
                                            span.rank-bg
                                            span.mask
                                            i.icon-play
                                            .title
                                                i
                                                h3 欧美歌曲
                                            i.line
                                            ul.song-list
                                                li.song-list__item
                                                    a(href='#')
                                                        span 1
                                                        | Everything I Need
                                                    span Skylar Grey
                                                li.song-list__item
                                                    a(href='#')
                                                        span 2
                                                        | No Place
                                                    span Backstreet Boys
                                                li.song-list__item
                                                    a(href='#')
                                                        span 3
                                                        | Undecided
                                                    span Chris Brown
                                                li.song-list__item
                                                    a(href='#')
                                                        span 4
                                                        | Hello My Love
                                                    span Westlife
                    // 歌手风采
                    .vipshowbox
                        .wid_main
                            .index_title
                                h2
                                    i
                                    | 热门歌手
                                a(href='#') 更多>>
                            .vipshow_pic
                                .hd
                                    a.next
                                        img(src='./img/jt_right.png')
                                    a.prev
                                        img(src='./img/jt_left.png')
                                .bd
                                    .ulWrap
                                        ul

                                            li
                                                .pic
                                                    img(src='./img/gqj2.jpg')
                                                .txt
                                                    h3
                                                        span 林俊杰
                                                        |  —
                                                        span 实力唱将
                                                    p 著名男歌手，作曲人、作词人、音乐制作人、台湾金曲奖最佳男歌手，华语乐坛领军人物，代表作《江南》、《修炼爱情》
                                                    a(href='#') 了解更多>>
                                            li
                                                .pic
                                                    img(src='./img/gqj1.jpg')
                                                .txt
                                                    h3
                                                        span 陈奕迅
                                                        |  —
                                                        span 情歌歌王
                                                    p 著名实力派粤语流行音乐歌手、演员、代表作《十年》、《k歌之王》、《浮夸》
                                                    a(href='#') 了解更多>>
                                        ul
                                            // 把每次滚动的n个li放到1个ul里面
                                            li
                                                .pic
                                                    img(src='./img/gqj3.jpg')
                                                .txt
                                                    h3
                                                        span 周杰伦
                                                        |  —
                                                        span 说唱天王
                                                    p 周董的歌曲类型都比较有特点，风格多变，一路向北的英伦摇滚，节奏蓝调、布鲁斯，哥特式本草纲目都能轻松驾驭.......
                                                    a(href='#') 了解更多>>
                                            li
                                                .pic
                                                    img(src='./img/gqj4.jpg')
                                                .txt
                                                    h3
                                                        span 薛之谦
                                                        |  —
                                                        span 深情歌者
                                                    p 华语流行音乐制作人，代表作 认真的雪   下雨了  丑八怪
                                                    a(href='#') 了解更多>>
                                        ul
                                            // 把每次滚动的n个li放到1个ul里面
                                            li
                                                .pic
                                                    img(src='./img/gqj5.jpg')
                                                .txt
                                                    h3
                                                        span 张杰
                                                        |  —
                                                        span 梦想歌手
                                                    p 华语歌坛新生代实力歌手，偶像与实力兼具的全能型歌手 代表作品 这就是爱  明天过后
                                                    a(href='#') 了解更多>>
                                            li
                                                .pic
                                                    img(src='./img/gqj6.jpg')
                                                .txt
                                                    h3
                                                        span 蔡健雅
                                                        |  —
                                                        span 情歌歌后
                                                    p 华语著名歌手，词曲作者、音乐制作人，2012年最佳国语女歌手，代表作品：红色高跟鞋 呼吸 空白格
                                                    a(href='#') 了解更多>>
                                        ul
                                            // 把每次滚动的n个li放到1个ul里面
                                            li
                                                .pic
                                                    img(src='./img/gqj7.jpg')
                                                .txt
                                                    h3
                                                        span 张韶涵
                                                        |  —
                                                        span 美丽歌姬
                                                    p 华语著名女歌手，实力唱将，代表作品：隐形的翅膀  淋雨一直走
                                                    a(href='#') 了解更多>>
                                            li
                                                .pic
                                                    img(src='./img/gqj8.jpg')
                                                .txt
                                                    h3
                                                        span 田馥甄
                                                        |  —
                                                        span 情深歌者
                                                    p 华语乐坛中坚力量，实力歌手，代表作：小幸运   你不要想起我
                                                    a(href='#') 了解更多>>
                                    // ulWrap End
                                    // bd End
                                    // multipleColumn End
                                    script(type='text/javascript').
                                        /*
                                        多行/多列的滚动解决思路在于：把每次滚动的n个li放到1个ul里面，然后用SuperSlide每次滚动1个ul，相当于每次滚动n个li
                                        */
                                        jQuery(".vipshow_pic").slide({titCell:".hd ul",mainCell:".bd .ulWrap",effect:"leftLoop",autoPlay:true,vis:4,interTime:2000,});
                    // 音乐视频
                    .videobox
                        .wid_main
                            .index_title
                                h2
                                    i
                                    | 音乐视频
                            .video_list
                                .parHd
                                    ul
                                        li
                                            a(href='#') 综艺视频
                                        li
                                            a(href='#') 演出视频
                                    | >
                                .parBd
                                    .slideBox
                                        ul
                                            li
                                                a(href='/video_xq')
                                                    span
                                                        img(src='./img/pic04.jpg')
                                                        i
                                                    h2 周杰伦  告白气球
                                            li
                                                a(href='/video_xq')
                                                    span
                                                        img(src='./img/pic05.jpg')
                                                        i
                                                    h2 张靓颖  这就是爱情
                                            li
                                                a(href='/video_xq')
                                                    span
                                                        img(src='./img/pic06.jpg')
                                                        i
                                                    h2 李荣浩   不将就
                                            li
                                                a(href='/video_xq')
                                                    span
                                                        img(src='./img/pic07.jpg')
                                                        i
                                                    h2 梁静茹   给未来的自己

                                    .slideBox
                                        ul
                                            li
                                                a(href='#')
                                                    span
                                                        img(src='./img/pic08.jpg')
                                                        i
                                                    h2 赵丽颖 东方卫视跨年演唱会 小幸运
                                            li
                                                a(href='#')
                                                    span
                                                        img(src='./img/pic09.jpg')
                                                        i
                                                    h2 张杰   成都巡回演唱会  这就是爱
                                            li
                                                a(href='#')
                                                    span
                                                        img(src='./img/pic02.jpg')
                                                        i
                                                    h2  陈奕迅  香港红馆倾城演唱会  淘汰
                                            li
                                                a(href='#')
                                                    span
                                                        img(src='./img/pic10.jpg')
                                                        i
                                                    h2  郭顶  北京奥体水星演唱会  水星记

                            script(type='text/javascript').


                                jQuery(".video_list .slideBox").slide({ mainCell:"ul",vis:3,effect:"leftMarquee",interTime:40,autoPlay:true,trigger:"click"});

                                jQuery(".video_list").slide({titCell:".parHd li",mainCell:".parBd"});
                    // 最新动态
                    .newsbox
                        .wid_main
                            .index_title
                                h2
                                    i
                                    | 最新动态
                                a(href='#') 更多>>
                            ul
                                li
                                    a(href='#')
                                        i
                                            img(src='./img/pic11.jpg')
                                        div
                                            h2 美国影视界权威奖项金球奖
                                            p 霉霉担任颁奖嘉宾，献唱shake it of
                                            span 2019-01-21
                                li
                                    a(href='#')
                                        i
                                            img(src='./img/pic12.jpg')
                                        div
                                            h2 赵雷：让我们面对现实，忠于理想
                                            p 虽然没有诗句般的柔情与感动，但痞子气的调侃，单纯率直达你的内心。
                                            span 2019-01-20
                                li
                                    a(href='#')
                                        i
                                            img(src='./img/pic13.jpg')
                                        div
                                            h2 杨宗纬越过山丘致敬李宗盛
                                            p 高晓松的词曲加上杨宗纬的音色和娓娓道来的唱腔，不一样的越过山丘，琴瑟和弦，弥弥迩音。
                                            span 2019-01-21
                                li
                                    a(href='#')
                                        i
                                            img(src='./img/pic14.jpg')
                                        div
                                            h2 张碧晨：我想世界都变成孩童的臆想
                                            p 胡桃夹子 词曲皆出自本人，古典派的曲风 融入了细腻如水的编曲里，张碧晨娓娓道来的一段独白，忧伤和孤独串联成一种力量，唱歌的人动心，听歌的人动情。
                                            span 2019-01-20
                                li
                                    a(href='#')
                                        i
                                            img(src='./img/pic15.jpg')
                                        div
                                            h2 于文文  再见前任
                                            p 体面，歌曲流露了对逝去爱情感到遗憾心酸却不得放手的洒脱放手的心声。
                                            span 2019-01-19
                                li
                                    a(href='#')
                                        i
                                            img(src='./img/pic01.jpg')
                                        div
                                            h2 记得感受 记得哭泣 记得林俊杰
                                            p
                                                | 我永远不会忘记，十年前的今天写下的这首歌，让我有勇气站到这个舞台，一直继续着，然后被所有人记得无疑成功的，我记得你，记得你是行走的CD，live小王子，庆幸华语乐坛有你！
                                            span 2019-01-19
                    // 底部
                    .footerbox
                        .link
                            .wid_main
                                h2
                                    span 友情链接
                                    |  / FRIENDLY LINK
                                ul
                                    li
                                        a(href='https://www.kugou.com/') 酷狗音乐
                                    li
                                        a(href='#') QQ音乐
                                    li
                                        a(href='#') 网易云音乐
                                    li
                                        a(href='#') 酷我音乐
                                    li
                                        a(href='#') 音悦台
                                    li
                                        a(href='#') 虾米音乐
                                    li
                                        a(href='#') 多米音乐
                        // foot
                        .footbox.wid_main.fix
                            .left
                                ul
                                    li
                                        img(src='img/foot_icon (1).png')
                                        span 电话：13056126548   0851-86578888
                                    li
                                        img(src='./img/foot_icon (3).png')
                                        span 邮箱：2423206960@qq.com
                                    li
                                        img(src='img/foot_icon (4).png')
                                        span 深圳农大科技园
                            .right

                                div
                                    dl
                                        dt
                                            a(href='#') 关于小圈
                                        dd
                                            a(href='#') 小圈简介
                                        dd
                                            a(href='#') 小圈风格
                                        dd
                                            a(href='#') 小圈功能
                                    dl
                                        dt
                                            a(href='#') 音乐live
                                        dd
                                            a(href='#') live公告
                                        dd
                                            a(href='#') live现场
                                    dl
                                        dt
                                            a(href='#') 歌手风采
                                        dd
                                            a(href='#') 歌手写真
                                        dd
                                            a(href='#') 歌手专辑
                                    dl
                                        dt
                                            a(href='#') 音乐视频
                                        dd
                                            a(href='#') 综艺视频
                                        dd
                                            a(href='#') 音乐MV
                                    dl
                                        dt
                                            a(href='#') 最新动态
                                        dd
                                            a(href='#') 歌手动态
                                        dd
                                            a(href='#') 圈内事件
                        .foot_xx
                            p CopyRight © 音乐人生  2019  All Rights Reserved     版权所有     
                    // 底部end
                    // 内容框end
                    // 侧边栏及滑动导航浮动定位在顶部
                    .side_box
                        ul
                            li.sidetop
                                a
                                    span
                                        img(src='./img/side_top.png')
                                    p 返回顶部
                        script(type='text/javascript').
                            $(function(){
                                $(".side_box").hide()
                                window.onscroll=function(){
                                    var autoheight=document.body.scrollTop||document.documentElement.scrollTop;
                                    if(autoheight>186){
                                        $(".side_box").fadeIn(500)
                                        $(".top_nav").css({"position":"fixed","z-index":999,"width":"100%","top":0})
                                        $(".top_nav").css("box-shadow","0 2px 4px rgba(0,0,0,.5)")
                                    }else{
                                        $(".side_box").fadeOut(500)
                                        $(".top_nav").css({"position":"relative","z-index":99,"width":"100%","top":0})
                                        $(".top_nav").css("box-shadow","0 0 0 rgba(0,0,0,.5)")
                                    }
                                }
                                $(".sidetop").click(
                                    function(){
                                        $('body,html').animate({"scrollTop":0},500);
                                    }
                                )
                            })
